@keyframes pulse {
  0% {
    transform: scale(0.8) translateY(0px); }
  70% {
    transform: scale(1.3) translateY(-5px); }
  100% {
    transform: scale(0.8) translateY(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body, input, textarea, select {
  font-family: 'bebas', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: normal; }

body {
  max-width: 100%;
  position: relative;
  min-height: 100vh; }

@font-face {
  font-family: 'bebas';
  src: url("fonts/bebas-regular-webfont.woff2") format("woff2"), url("fonts/bebas-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.heading-primary {
  font-size: 8rem;
  font-weight: normal; }

.heading-secondary {
  font-size: 3.5rem;
  text-align: center;
  font-weight: normal; }

.heading-tertiary {
  font-size: 3rem;
  text-align: center;
  font-weight: normal; }

.heading-footer {
  font-size: 4rem;
  text-align: center;
  font-weight: normal;
  color: white; }

.heading--blue {
  color: #2A90AB; }

.heading-highlight {
  background-image: linear-gradient(120deg, #FADA95 100%, black 0%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  .heading-highlight:hover {
    background-size: 100% 100%; }

.secondary-highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FADA95 50%); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: .5rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-margin-bottom-huge {
  margin-bottom: 5rem; }

.u-margin-top-small {
  margin-top: .5rem; }

.u-margin-top-medium {
  margin-top: 2rem; }

.u-margin-top-big {
  margin-top: 4rem; }

.u-margin-top-huge {
  margin-top: 5rem; }

.container {
  padding: 0 10%;
  vertical-align: text-bottom; }

.btn__submit {
  margin: 25px auto auto auto;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 3px solid white;
  font-size: 2rem;
  background-color: rgba(42, 144, 171, 0);
  color: white;
  display: block; }

#slides {
  position: relative;
  padding: 0px;
  list-style-type: none; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  font-size: 4.5rem;
  text-align: left;
  margin: 0 auto; }

.showing {
  opacity: 1;
  z-index: 2; }

.social {
  max-width: 600px;
  display: flex;
  transition: transform .2s; }
  .social__main {
    margin: 0 auto;
    padding-bottom: 40%;
    display: flex;
    justify-content: space-between;
    width: 80%; }
    .social__main .fab {
      font-size: 3rem;
      color: white;
      text-decoration: none; }
  .social__footer {
    display: flex;
    justify-content: space-around; }
    .social__footer .fab {
      font-size: 2.5rem;
      color: white;
      text-decoration: none; }
  .social .fa-codepen:hover {
    transform: scale(1.4);
    color: #212121; }
  .social .fa-dribbble:hover {
    transform: scale(1.4);
    color: #EA4C89; }
  .social .fa-twitter:hover {
    transform: scale(1.4);
    color: #33CCFF; }
  .social .fa-github:hover {
    transform: scale(1.4);
    color: #6e5494; }
  .social .fa-linkedin-in:hover {
    transform: scale(1.4);
    color: #4875B4; }

.section-testimonials::after {
  content: "";
  background: url(../images/mob-top-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 1px;
  z-index: -1;
  position: absolute; }

.testimonials {
  margin: 0% auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 2000px;
  padding-bottom: 12rem; }

.testimony {
  display: flex;
  flex-wrap: wrap;
  vertical-align: baseline;
  align-items: center;
  position: relative;
  padding: 2em;
  margin: 2rem 2rem;
  min-height: 12em;
  max-width: 27em;
  border-radius: 5px;
  -webkit-box-shadow: -6px 6px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -6px 6px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: -6px 6px 5px 1px rgba(0, 0, 0, 0.15); }
  .testimony--yellow {
    background-color: #FADA95; }
    .testimony--yellow::before {
      display: block;
      position: absolute;
      background: url(../images/quotes-blue.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      content: '';
      top: -1.7rem;
      left: 0px; }
  .testimony--blue {
    background-color: #9FDDED; }
    .testimony--blue::before {
      display: block;
      position: absolute;
      background: url(../images/quotes-yellow.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      content: '';
      top: -1.7rem;
      left: 0px; }
  .testimony h3 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    flex-grow: 1; }
  .testimony p {
    color: white;
    font-size: 20px;
    padding: .5rem 0;
    flex-grow: 1; }

.animations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 2000px;
  margin: 0 auto;
  box-sizing: border-box; }

.animation {
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
  vertical-align: baseline;
  align-items: center;
  position: relative;
  padding: 1rem 3rem;
  box-sizing: border-box;
  max-width: 300px; }
  .animation img {
    max-width: 200px; }
  .animation__text {
    color: #181818;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    max-width: 350px;
    margin: 0 auto; }

.section-projects {
  padding-bottom: 5rem; }

.projects {
  position: relative; }

.project {
  width: 300px;
  height: 225px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden; }
  .project__arrow {
    font-size: 2rem;
    position: absolute;
    top: 197px;
    left: 140px;
    color: #FADA95;
    text-decoration: none;
    animation: all .8s ease-out;
    opacity: 1; }
    .project__arrow:hover {
      animation: pulse 1.5s infinite; }
    .project__arrow:active {
      opacity: 0; }

.icon_container {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end; }

.icon {
  height: 45px;
  width: 35px;
  box-sizing: content-box;
  display: flex;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  margin-right: 13px; }
  .icon:hover {
    transform: scale(1.2); }
  .icon--yellow {
    background-color: #FADA95; }
  .icon .icon:hover .project {
    overflow: hidden; }
  .icon p {
    margin: auto;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white; }

.section-contact {
  padding-bottom: 30rem; }

.contact-form {
  color: white;
  width: 95%;
  max-width: 700px;
  font-size: 2.6em;
  padding-bottom: 3rem; }
  .contact-form p {
    margin-bottom: 5px; }
  .contact-form__input {
    background-color: rgba(255, 255, 255, 0);
    font-size: 2.6rem;
    color: #2A90AB;
    border-radius: 10;
    width: 100%;
    margin-bottom: 5px;
    border: none; }
    .contact-form__input:focus {
      border: 2px solid #FADA95; }
    .contact-form__input::placeholder {
      color: #FADA95; }

.footer {
  padding: 2rem 4rem;
  background: linear-gradient(#9FDDED, #2A90AB); }
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer__contact {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    flex-basis: 45%;
    max-width: 600px; }
  .footer__text {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-width: 600px;
    flex-basis: 45%; }
  .footer__hr {
    border: 3px solid white;
    width: 100%; }
  .footer__credit {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2.5rem; }

.header {
  max-width: 60%;
  margin: 0 auto;
  float: right;
  display: block;
  position: relative; }

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 50;
  background: white;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1); }
  .top-nav.open {
    top: 0;
    border-radius: initial; }
  .top-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .top-nav__link {
    font-size: 5rem;
    padding: 1.5rem;
    color: black;
    text-decoration: none; }
    .top-nav__link:hover, .top-nav__link:focus {
      color: #FADA95;
      transform: scale(1.5); }
  .top-nav li {
    margin: 0 2rem;
    text-decoration: none;
    color: black;
    font-size: 4rem;
    padding-right: 2rem; }

.menu-toggler {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out; }
  .menu-toggler.open {
    transform: rotate(-45deg); }

.bar {
  background: black;
  width: 100%;
  height: 6px;
  border-radius: 2rem; }
  .bar.half {
    width: 50%; }
  .bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57); }
  .bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57); }

.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem); }

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem); }

.section-intro {
  top: 2px;
  padding-bottom: 10rem;
  position: relative; }
  .section-intro::after {
    content: "";
    background: url(../images/mob-top-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    position: absolute; }

.section-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: linear-gradient(#9FDDED, #2A90AB);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, bottom;
  background-size: 100%;
  z-index: 1;
  vertical-align: text-bottom;
  padding-top: 5rem;
  padding-bottom: 6rem;
  margin-bottom: 5rem; }
  .section-about::after {
    content: "";
    background: url(../images/mob-city.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    top: 1px;
    left: 0px;
    position: absolute;
    z-index: -1; }

.about__text {
  color: white;
  font-size: 2.5rem;
  text-align: left; }
  .about__text p {
    padding-bottom: 3rem; }

.section-animation {
  vertical-align: bottom;
  margin: 0% auto;
  padding-bottom: 10rem; }

.section-testimonials {
  display: block;
  text-align: center;
  vertical-align: text-bottom;
  z-index: 1;
  position: relative; }

@media only screen and (min-width: 685px) {
  .testimonials {
    padding-bottom: 15rem; }
  .heading-footer {
    font-size: 4em;
    margin-bottom: 4rem; }
  .footer {
    padding: 4rem 5rem 2rem 5rem; }
    .footer__contact {
      padding-right: 15px; }
    .footer__hr {
      width: auto; }
    .footer__credit {
      font-size: 1.5rem;
      padding-top: 2rem; }
  .social__main .fab {
    font-size: 4rem; }
  .social__footer {
    display: flex;
    justify-content: space-around; }
    .social__footer .fab {
      font-size: 2rem;
      color: white;
      text-decoration: none; }
  .contact-form {
    font-size: 2em; }
    .contact-form__input {
      font-size: 2rem;
      margin-bottom: 10px; } }

@media only screen and (min-width: 1000px) {
  .menu-toggler {
    width: 5rem;
    height: 4rem;
    top: 5rem;
    right: 5rem; }
  .bar {
    height: 7px; }
  .heading-primary {
    font-size: 15rem;
    text-align: center;
    margin: 0 auto; }
  .slide {
    font-size: 5rem;
    text-align: center;
    margin: 0 auto; }
  .container {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 3%; }
  .container--intro {
    padding-bottom: 15%; }
  .section-intro {
    padding-top: 10rem; }
  .container--about {
    padding-top: 0%; }
  .about__text {
    padding: 0% 0 5% 0;
    margin: 0 auto;
    text-align: center; }
    .about__text p {
      font-size: 3.5rem;
      text-align: center;
      padding-bottom: 5rem; }
  .intro__text {
    padding-bottom: 3rem; }
  .heading-secondary {
    font-size: 7rem; }
  .heading-tertiary {
    font-size: 4rem; }
  .animation__text p {
    font-size: 2.3rem; }
  .testimony {
    margin: 2em 2em; }
  .section-testimonials {
    padding-bottom: 20rem; }
  .heading-footer {
    font-size: 7em;
    margin-bottom: 4rem; }
  .footer {
    padding: 8rem 10rem 5rem 10rem; }
    .footer__contact {
      padding-right: 15px; }
    .footer__hr {
      width: auto; }
    .footer__credit {
      font-size: 2.5rem;
      text-align: center;
      padding-top: 3rem; }
  .social__main .fab {
    font-size: 4rem; }
  .social__footer {
    display: flex;
    justify-content: space-around; }
    .social__footer .fab {
      font-size: 4rem;
      color: white;
      text-decoration: none; }
  .contact-form {
    font-size: 4em; }
    .contact-form__input {
      font-size: 4rem;
      margin-bottom: 10px; }
  .btn__submit {
    margin: 25px auto auto auto;
    height: 70px;
    width: 190px;
    font-size: 4rem; } }
