$default-font-size: 1.6rem;

//Padding
$section-bottom-padding: 10rem;

$section-top-padding: 5rem;

//Colours
$color-primary-light: #9FDDED;
$color-primary-dark: #2A90AB;
$color-secondary: #FADA95;
$color-grey: #181818;
$color-black: black;
$color-white: white;
