.social {
 max-width: 600px;
  display: flex;
  transition: transform .2s;

  &__main {
    margin: 0 auto;
    padding-bottom: 40%;
    display: flex;
    justify-content: space-between;
    width: 80%;


    .fab {
      font-size: 3rem;
      color: white;
      text-decoration: none;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-around;

    .fab {
      font-size: 2.5rem;
      color: white;
      text-decoration: none;
    }
  }
}



.fa-codepen:hover {
  transform: scale(1.4);
  color: #212121;
}

.fa-dribbble:hover {
  transform: scale(1.4);
  color: #EA4C89;
}

.fa-twitter:hover {
  transform: scale(1.4);
  color: #33CCFF;
}


.fa-github:hover {
  transform: scale(1.4);
  color: #6e5494;

}

.fa-linkedin-in:hover {
  transform: scale(1.4);
  color: #4875B4;
}
