*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

 html {
   font-size: 62.5%;
 }

 body {
     font-family: 'bebas', sans-serif;
     text-transform: uppercase;
     max-width: 100%;
     position: relative;
     min-height: 100vh;
     -webkit-font-smoothing: antialiased;
     font-weight: normal;
 }
