*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

 html {
   font-size: 62.5%;
 }

 body, input, textarea, select {
     font-family: 'bebas', sans-serif;
     text-transform: uppercase;
     -webkit-font-smoothing: antialiased;
     font-weight: normal;
 }

 body {
   max-width: 100%;
   position: relative;
   min-height: 100vh;
 }
