.u-center-text {
  text-align: center;
}


//MARGIN BOTTOMS
.u-margin-bottom-small {
  margin-bottom: .5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.u-margin-bottom-huge {
  margin-bottom: 5rem;
}

//MARGIN TOPS
.u-margin-top-small {
  margin-top: .5rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-top-big {
  margin-top: 4rem;
}

.u-margin-top-huge {
  margin-top: 5rem;
}
