.footer {
  padding: 2rem 4rem;
  background: linear-gradient($color-primary-light, $color-primary-dark);


  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__contact {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    flex-basis: 45%;
    max-width: 600px;
  }

  &__text {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-width: 600px;
    flex-basis: 45%;
  }

  &__hr {
    border: 3px solid $color-white;
    width: 100%;
  }

  &__credit {
    color: $color-white;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2.5rem;
  }

}
